* {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

img {
  width: 100%;
}

#graph-container>div {
  height: auto !important;
  max-width: 700px;
}

h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

#header, #footer, #main {
  width: 100%;
}
#header, #footer {
  padding: 1rem;
  flex-shrink: 0;
}

#main{
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

/* styles for header */
#header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: #0dc5c1;
  /* background: #04bfb6; */
  /* background: #00B2CA; */
}

#header>h1{
  font-family: 'Courgette', cursive;
  text-shadow: -.1em .1em .1em rgba(133, 135, 140, .7);
  color: #fff;
}

#site-nav>ul{
  display: flex;
  flex-flow: row wrap;
}

h1{
  flex-grow: 1;
}

#logo{
  width: 2rem;
}

/* styles for footer */
#footer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background: #00B2CA;
}

/* styles for contact form */
#contact{
  display: flex;
  order: 1;
}
#contact>div[role=group]{
  width: 30rem;
  display: flex;
  flex-flow: row wrap;
}
#contact>div[role=group]>*{
  flex-shrink: 1;
}

#contact>div[role=group]>legend{
  width: 100%;
}

#contact>div[role=group]>label {
  width: 30%;
}

#contact>div[role=group]>input {
  width: 70%;
}

#contact>div[role=group]>input[type=submit]{
  width: 7rem;
}

#contact>div[role=group]>textarea{
  width: 100%;
  resize: vertical;
  min-height: 20rem;
}

#copyright{
  width: 100%;
  order: 3;
}

#social-links {
  order: 2;
}

nav>ul>li{
  list-style: none;
}

/* Page stylings */

#page-header{
  position: sticky;
  top: 0;
  background: #BCEDFF;
  height: 100vh;
  max-height: 100%;
  width: 30%;
  color: rgba(0, 50, 66, 0.9);
  text-shadow: -.1em .1em .1em rgba(255, 255, 255, .7);
  font-family: 'Dosis', sans-serif;
}

#content{
  width: 70%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
